@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root {
    --theme-color: #FF2B51;
    --theme-font: 'Poppins', sans-serif;
}

body{
    background-color: black;
}

// LOADING
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root {
    --background: #FF2B51;
    --dark: #34314C;
}

.loading-box {
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
    outline: 0;
    overflow: hidden;
}

.loading-box span {
    color: white;
    font-size: xx-large;
    z-index: 999;
}

.loading-box::before {
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
}

.loading-box.gone::after {
    animation: spin 3s ease-in-out 1 forwards;
}

.loading-box::after {
    content: '';
    font-size: xx-large;
    position: absolute;
    bottom: -50%;
    left: -50%;
    background-color: var(--background);
    width: 200%;
    height: 300%;
    border-radius: 30%;
}

@keyframes spin {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(-100%) rotate(100deg);
    }
}

// ===============================
.heading span {
    color: var(--theme-color);
}

body,
html {
    overflow-x: hidden !important;
}

* {
    color: white;
    font-family: var(--theme-font);
}

#backgroundVideo {
    height: 100vh;
    width: 100vw;
    position: fixed;
    object-fit: cover;
    z-index: -10;
    top: 0;
    left: 0;
}

body {
    background-color: black;
    margin: 0;
    padding: 0em;
}

body>div {
    padding: 0em 3em 25em 3em;
    overflow-y: clip;
}

.wave-after-experiences img,
.wave-after-header img {
    position: absolute;
    left: -10px;
    z-index: -1;
    width: 150vw;
}

header {
    height: 100vh;
    position: relative;
    padding: 2em 0 2em 0;

    .heading-logos {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-section-2 {
        display: flex;
        max-width: 100vw;
        height: calc(100vh - 19em);
        justify-content: center;
        align-items: center;

        .header-img {
            max-height: 40em;
            max-width: 40em;
        }

        .header-img img {
            animation: infinite rotation 3s;
            height: 100%;
            width: 100%;
        }

        .header-links {
            ul {
                position: fixed;
                right: 0;
                bottom: 41vh;

                li {
                    list-style: none;
                    font-family: var(--theme-font);
                    margin-top: 80px;
                    transform: rotate(90deg);

                    a {
                        color: white;
                        text-decoration: none;
                        position: relative;

                        &::before {
                            content: '';
                            height: 4px;
                            width: 0%;
                            position: absolute;
                            bottom: -0.8em;
                            background-color: var(--theme-color);
                            border-radius: 5px;
                            transition: width 0.2s ease-in-out;
                        }

                        &:hover::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .header-section-3 {
        position: absolute;
        bottom: 10%;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .FSD-text {
            display: flex;
            flex-direction: column;
            line-height: 0px;

            p {
                &:nth-child(1) {
                    font-size: calc(9px + 1vw);
                }

                &:nth-child(2) {
                    font-size: calc(10px + 0.8vw);
                    margin-top: 3px;
                }

                color: white;
                font-family: var(--theme-font);

                &:nth-child(2) {
                    color: var(--theme-color);

                    span {
                        color: #C0C0C0;
                    }
                }
            }
        }

        .header-social-links {
            i {
                color: white;
                margin: 10px;
                transform: scale(1.5);
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: var(--theme-color);
                }
            }
        }
    }
}

.about-me-section {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    background-color: var(--theme-color);
    padding: 2em 3em 20em 3em;

    h1 {
        font-size: calc(30px + 1vw);
        width: 90%;
        margin-bottom: 0;

        span {
            color: #580015;
        }
    }

    p {
        width: calc(20% + 30vw);
    }
}

.experiences {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20em;

    .experiences-section-1 {
        h1 {
            font-size: calc(30px + 1vw);

            span {
                color: var(--theme-color);
            }
        }

        p:nth-child(2) {
            color: var(--theme-color);
            font-size: calc(10px + 1vw);
        }

        p:nth-child(3) {
            max-width: 30em;
        }
    }

    .experiences-section-2 {
        display: flex;
        margin-top: 5em;

        .experiences-quality {
            p:nth-child(1) {
                font-size: calc(22px + 1vw);
                line-height: 0;

                span {
                    color: var(--theme-color);
                }
            }

            p:nth-child(2) {
                color: #C0C0C0;
            }
        }
    }
}

.services {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20em;
    margin-bottom: 10em;

    .services-section-1 {
        h1 {
            font-size: calc(30px + 1vw);

            span {
                color: var(--theme-color);
            }
        }

        p {
            max-width: 30em;
        }
    }

    .services-section-2 {
        display: flex;
        margin-top: 5em;

        >div:nth-child(1)>div:nth-child(2) {
            margin-top: 5em;
        }

        >div {
            div:nth-child(1)>div {
                font-size: calc(6px + 1vw);
                margin-top: -20px;
            }
        }

        div:nth-child(2)>div {
            font-size: calc(6px + 1vw);
            margin-top: -20px;
        }

        .all-services {
            p {
                font-size: calc(22px + 1vw);
                line-height: 30px;
                margin-bottom: 0.5em;

                >span:nth-child(1) {
                    color: var(--theme-color);
                    font-size: calc(25px + 1vw);
                }

                >span:nth-child(2) {
                    display: block;
                    font-size: calc(8px + 1vw);
                }
            }

            a {
                text-decoration: none;

                i {
                    visibility: hidden;
                    opacity: 0;
                    position: relative;
                    left: -10px;
                    transition: all 0.2s ease-in-out;
                }

                &:hover i {
                    visibility: visible;
                    opacity: 1;
                    left: 0;
                }
            }
        }
    }
}

// MEDIA QUERIES
@media screen and (max-width:1150px) {

    .wave-after-header img,
    .wave-after-experiences img {
        width: 200em;
    }

    .experiences {
        flex-direction: column;

        .experiences-section-2 {
            justify-content: space-around;
        }
    }

    .services {
        flex-direction: column;

        .services-section-2 {
            justify-content: space-around;
        }

        .all-services {
            p>span:nth-child(2) {
                font-size: calc(12px + 1vw) !important;
            }
        }
    }
}

@media screen and (max-width:750px) {
    body>div {
        padding: 0em 1em 30em 1em;
    }

    .about-me-section {
        padding: 0em 1em 25em 1em;

        p {
            font-size: 14px;
            width: 94%;
            padding-bottom: 100em;
        }
    }

    .header-section-3 {
        bottom: 11em !important;
    }

    .header-links ul {
        bottom: 0% !important;
        // height: 2em;
        display: flex;
        width: 100vw;
        border-top: 1px solid var(--theme-color);
        background-color: #0B0B0B;
        padding: 1em 0 1em 0;
        justify-content: space-around;
        margin: 0%;
        border-radius: 1em 1em 0 0;
        z-index: 999;

        // box-shadow: var(--theme-color) 0px 5px 15px;
        li {
            transform: rotate(0deg) !important;
            margin-top: 0% !important;
        }
    }

    // header .header-section-2 {
    //     position: absolute;
    //     top: 19vh;
    // }
}

@media screen and (max-width:500px) {
    .experiences-section-2 {
        flex-direction: column;
    }

    .last-txt {
        margin-bottom: 15vh;
    }

    .services-section-2 {
        flex-direction: column;

        .all-services {
            margin-top: 3em !important;

            p>span:nth-child(2) {
                display: inline !important;
                font-size: calc(24px + 1vw) !important;
            }
        }
    }
}